h1.hidden = title "Sitzungen von #{@client.name} (#{@client.identifier}) bei #{@therapist.name}"

#profile
  .row
    .col-xs-12
      #relationship.ct-chart.ct-double-octave
        .headstand = t('.relationship')
  .row    
    .col-xs-12
      #goals_and_topics.ct-chart.ct-double-octave 
        .headstand = t('.goals_and_topics')
  .row
    .col-xs-12
      #approach_or_method.ct-chart.ct-double-octave
        .headstand = t('.approach_or_method')
  .row
    .col-xs-12
      #coping.ct-chart.ct-double-octave
      .headstand
        = t('.coping')
  .row
    .col-xs-12
      #overall.ct-chart.ct-double-octave
      .headstand
        = t('.overall')
table.table
  tr
    th #
    th = t('.date')
  - @sessions.each_with_index do |session, index| 
    tr
      td 
        = index + 1
      td
        = l(session.created_at)
= link_to t('.other_clients'), therapist_path(@therapist.token), class: 'hidden-print'
javascript:
  function chart_headstand() {
    $('.headstand').css('width', $('.ct-chart').height());
   }

   $( window ).resize(function() {
    chart_headstand();
   });

   chart_headstand();
  options = {
    high: 100,
    low: 0,
    showArea: true,
    fullWidth: true,
    chartPadding: {
      right: 40
    },
    axisY: {
      onlyInteger: true
    }
  }

  new Chartist.Line('#relationship', {
    labels: #{(1..@sessions.size).to_a},
    series: [
      #{@sessions.map &:relationship},
      #{@sessions.map {|session| 90 }}
    ]
  }, options);

  new Chartist.Line('#goals_and_topics', {
    labels: #{(1..@sessions.size).to_a},
    series: [
      #{@sessions.map &:goals_and_topics},
      #{@sessions.map {|session| 90 }}
    ]
  }, options);

  new Chartist.Line('#approach_or_method', {
    labels: #{(1..@sessions.size).to_a},
    series: [
      #{@sessions.map &:approach_or_method},
      #{@sessions.map {|session| 90 }}
    ]
  }, options);

  new Chartist.Line('#overall', {
    labels: #{(1..@sessions.size).to_a},
    series: [
      #{@sessions.map &:overall},
      #{@sessions.map {|session| 90 }}
    ]
  }, options);

  new Chartist.Line('#coping', {
    labels: #{(1..@sessions.size).to_a},
    series: [
      #{@sessions.map &:coping},
      #{@sessions.map {|session| 90 }}
    ]
  }, options);